.nav {
  display: flex;
  justify-content: flex-end;
  }

.nav li {
  list-style: none;
  margin: 25px;
  border: 1px black solid;
  }
  
.nav a {
  color: white;
  text-decoration: none;
  }
  
body{
  background-color: #094458;
}

h1, h2, h4{
  color: white;
}

p{
  color: beige;
}

button{
  border-radius: 8%;
}

.sobre1{
  display: block;
  align-content: end;
  background-color:  black;
}
.sobre2{
  display: block;
  justify-content: center;
  background-color: white;
}