.nav {
  display: flex;
  justify-content: flex-end;
  }
.nav li {
  list-style: none;
  margin: 25px;
  border: 0;
  }  
.nav a {
  color: white;
  text-decoration: none;
  }
body{
  background-color: #373A5B;
}
.apresentacao{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 340px;
  margin-left: 10%;
  margin-bottom: 10%;
}
.apresentacao button{
  width: 15%;
  color: white;
  border: solid #EF4C4D 3px;
  background-color: transparent;
  padding: 0;
  border-radius: 10px;
}
.apresentacao h1{
  color: white;
  margin: 0;
}
.apresentacao p{
  color: #EF4C4D;
}
#sobre{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  align-items: center;
  padding: 3%;
  background-color: white;
  margin-top: 2%;
}
#sobre h1{
  color: black;
}
#sobre h4{
  color: gray;
}
#descricao{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  height: 100%;
  background-color: #EF4C4D;
  padding: 3%;
}
#descricao p{
  color: white;
}
.layout{
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  background-color: white
}
.skill{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  text-align: center;
  background-color: white
}
.skill h3, h2{
  margin: 0%;
}
.container{
  display: flex;
  background-color: #373A5B;
}
.container h3{
  color: black;
}
.container h2{
  color: #EF4C4D;
}
.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio h1{
  color: white;
}
.portfolio h4{
  color: #EF4C4D;
}